.hello{
    border-color: gray;
    border-style: dotted;
    color: black;
}
.square {
    width: 300px;
    height: 300px;
    border: 2px dotted green;
    border-radius: 10px 25px 10px 25px;
    margin: 15px auto 15px 15px;
}